In [25]:
print("hola desde la pantalla")

hola desde la pantalla

In [26]:
sum = 1 + 2 #3
product = sum * 2
print(product)

6

In [27]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [28]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

In [2]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

In [3]:
from datetime import date

In [4]:
date.today()

datetime.date(2022, 2, 9)

In [5]:
print(date.today())

2022-02-09

In [6]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-09

In [1]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: Jonatan

In [5]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(first_number + second_number)

Calculadora
Vale Te quiero

In [9]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
7

In [17]:
# Kata 1
la_fecha = date.today()

In [22]:
from datetime import date

print("Today's date is:  " + str(la_fecha))

Today's date is:  2022-02-09

In [34]:
parsec = 11
lightyears = 3.26156 * parsec

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.877159999999996 lightyears