In [1]:
answer = 30 + 12
print(answer)

42

In [2]:
difference = 30 - 12
print(difference)

18

In [3]:
product = 30 * 12
print(product)

360

In [4]:
quotient = 30 / 12
print(quotient)

2.5

In [5]:
seconds = 1042

In [6]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [7]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes, "," ,display_seconds)

17 , 22

In [8]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)

print(result_1)
print(result_2)

1084
1084

In [9]:
demo_int = int('215')
print(demo_int)

215

In [10]:
demo_float = float('215.3')
print(demo_float)

215.3

In [11]:
a = 39 - 16
b = 16 - 39
print(a,b)

23 -23

In [12]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

In [13]:
print(round(14.5))

14

In [14]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

In [15]:
##Kata 5 
Tierra = 149597870
Jupiter = 778547200

In [16]:
distancia_planetas = Jupiter - Tierra
print('Distancia en km: ', distancia_planetas, 'km')
print('Distancia en millas: ', round(distancia_planetas*0.621), 'mi')

Distancia en km:  628949330 km
Distancia en millas:  390577534 mi

In [32]:
first_planet = input('Introduzca la distancia del sol para el primer planeta en KM')
second_planet = input('Introduzca la distancia desde el sol para el segundo planeta en KM')

In [33]:
first_planet = int(first_planet)
second_planet = int(second_planet)

In [35]:
distance = abs(second_planet - first_planet)
print('La distancia en km es: ', distance, 'km')
distance_mi = round(distance*0.621)
print('La distancia en mi es: ', distance_mi, 'mi')

La distancia en km es:  628949330 km
La distancia en mi es:  390577534 mi