In [179]:
fact = 'The Moon has no atmosphere. '
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere. No sound can be heard on the Moon.'

In [180]:
fact

'The Moon has no atmosphere. '

In [181]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere. No sound can be heard on the Moon.'

In [182]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [183]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [184]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

In [185]:
'We only see about 60% of the Moon's surface'
  File '<stdin>', line 1
    'We only see about 60% of the Moon's surface'

SyntaxError: unterminated string literal (detected at line 1) (2341163009.py, line 1)

In [ ]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

In [ ]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [ ]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [ ]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [ ]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [ ]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [ ]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [ ]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [ ]:
'Moon' in 'This text will describe facts about the Moon'

True

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [ ]:
temperatures.find('Moon')

-1

In [ ]:
temperatures.find('Mars')

64

In [ ]:
temperatures.count('Mars')

1

In [ ]:
temperatures.count('Moon')

0

In [ ]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [ ]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [ ]:
temperatures = 'Mars Average Temperature: -60 C'

In [ ]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [ ]:
parts[-1]

' -60 C'

In [ ]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [ ]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [ ]:
'-60'.startswith('-')

True

In [ ]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [ ]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [ ]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [ ]:
'temperatures' in text.lower()

True

In [ ]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [ ]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [ ]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [ ]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [ ]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [ ]:
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [ ]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [ ]:
round(100/6, 1)

16.7

In [ ]:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [ ]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'

In [ ]:
#Kata 4
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [ ]:
palabras = ["average", "temperature", "distance"]

In [ ]:
text.find('average')

163

In [ ]:
text.find('temperature')

325

In [ ]:
text.find('distance')

-1

In [ ]:
for sentence in text_parts:
    for una_palabra in palabras:
        if una_palabra in sentence:
            print(sentence.replace('C', 'Celsius'))
            print(sentence.replace('Earth', 'Blue Planet'))
            break

On average, the Moon moves 4cm away from the Earth every year
On average, the Moon moves 4cm away from the Blue Planet every year
The highest daylight temperature of the Moon is 127 Celsius.
The highest daylight temperature of the Moon is 127 C.

In [189]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [190]:
print(name + ' loves the ' + planet)

Moon loves the Earth

In [191]:
title = f'Datos curiosos y sorprendentes sobre {"La luna"}'
print(title)

Datos curiosos y sorprendentes sobre La luna

In [195]:
hechos = f"""{'-'*100} 
Nombre del planeta: {planet} 
Gravedad en {'la Luna'}: {gravity * 1000} m/s2 
"""

In [196]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

----------------------------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en la Luna: 1.6199999999999999 m/s2

In [197]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [198]:
print(hechos)

----------------------------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en la Luna: 1.6199999999999999 m/s2

In [202]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [203]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2